/* auth-styles.css */

/* Estilos globais para a página de autenticação */
.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: var(--cor-fundo);
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto);
}

/* Contêiner do formulário de autenticação */
.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Estilos principais do card de autenticação */
.auth-card {
    width: 100%;
    max-width: 400px;
    background-color: var(--cor-fundo-secundario);
    padding: 40px 25px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.auth-card img.logo-image {
    max-width: 110px;
    margin-bottom: 15px;
}

.auth-card h2 {
    color: var(--cor-dourado);
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Estilos dos campos do formulário */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: var(--cor-texto);
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1em;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid var(--cor-dourado);
    /* Borda dourada sempre */
    border-radius: 8px;
    background-color: var(--cor-fundo-secundario);
    color: var(--cor-texto);
    outline: none;
    transition: background-color 0.3s;
}

.form-group input::placeholder {
    color: rgba(224, 224, 224, 0.8);
}

.form-group input:focus {
    background-color: #2b2b2b;
}

/* Estilo do botão de envio */
.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: var(--cor-fundo);
    background-color: var(--cor-dourado);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-submit:hover {
    background-color: #FFC700;
    transform: scale(1.02);
}

/* Link de navegação entre login e cadastro */
.auth-link {
    margin-top: 15px;
    font-size: 0.9em;
    color: var(--cor-texto);
}

.auth-link a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s;
}

.auth-link a:hover {
    color: #FFEE93;
}

/* Responsividade para diferentes tamanhos de telas */
@media (max-width: 600px) {
    .auth-card {
        padding: 25px 15px;
    }

    .auth-card img.logo-image {
        max-width: 250px;
    }

    .auth-card h2 {
        font-size: 1.5em;
    }

    .btn-submit {
        font-size: 1em;
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .auth-card {
        padding: 30px 20px;
    }

    .auth-card img.logo-image {
        max-width: 250px;
    }

    .auth-card h2 {
        font-size: 1.7em;
    }
}

@media (min-width: 901px) {
    .auth-card {
        padding: 40px 25px;
    }

    .auth-card img.logo-image {
        max-width: 250px;
    }
}